.header {
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.logo {
  font-size: 80px;
  background-image: linear-gradient(90deg, #fff, #ff871f);
  background-clip: text;
  color: transparent;
  animation: logobrand 2s infinite ease-in;
  background-size: 300%;
  background-position: -100%;
}

@keyframes logobrand {
  to {
    background-position: 100%;
  }
}

.brand {
  font-size: 100px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Cairo", sans-serif;
  font-weight: 200;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.welcome {
  /* display: flex;
  justify-self: center; */
  text-align: center;
  margin-left: 40vw;
  padding: 12px;
}

.name {
  display: flex;
  margin-bottom: 20px;
}

.buttons {
  margin-left: 22vw;
}

/* .home-button {
  margin: 5px;
  padding: 5px 20px;
} */

.search-result {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-flow: row wrap; */
  /* width: 75vw; */
  /* height: 85vh; */
  border: 5px solid black;
  margin: 10px;
  /* margin-top: 30px; */
  overflow-y: scroll;
}

.form-container {
  margin: 15%;
}

.bg {
  background-color: #ff871f;
  height: 90px;
}

.nav-brand {
  margin-right: 20%;
  font-size: 50px;
  text-align: start;
  font-weight: bold;
}

.cardImg {
  margin-top: 10px;
  height: 200px;
  width: 200px;
}

.song-card {
  margin: 10px;
  border: 2px solid #ff871f;
}

.nav-link {
  font-size: 2rem;
  margin-left: 10%;
  font-weight: bold;
  color: #000;
}

.icon {
  color: #000;
}

.nav-container {
  margin-left: 0;
}

body {
  background-color: rgba(128, 128, 128, .5);
}

.Playlist {
  border: 2px solid #ff871f;
  margin: auto;
}

.play-list {
  display: flex;
  flex-direction: row;
  margin: auto;
}