.header {
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.logo {
  font-size: 80px;
  background-image: linear-gradient(90deg, #fff, #ff871f);
  background-clip: text;
  color: transparent;
  animation: logobrand 2s infinite ease-in;
  background-size: 300%;
  background-position: -100%;
}

@keyframes logobrand {
  to {
    background-position: 100%;
  }
}

.brand {
  font-size: 100px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Cairo", sans-serif;
  font-weight: 200;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.welcome {
  display: flex;
 justify-self: center;
 margin: auto;
 padding: 12px;
}

.name {
  display: flex;
}

/* .buttons {
  border: 3px solid #ff871f;
  width: 8vw;
  margin: 10px;
  padding: 20px;
  height: 200px;
} */

/* .home-button {
  margin: 5px;
  padding: 5px 20px;
} */

.search-result {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-flow: row wrap; */
  /* width: 75vw; */
  /* height: 85vh; */
  border: 5px solid black;
  margin: 10px;
  /* margin-top: 30px; */
  overflow-y: scroll;
}

.form-container {
  margin: 15%;
}

.bg {
  background-color: #ff871f;
  height: 90px;
}

.nav-brand {
  margin-right: auto;
}