.formDiv {
    background-color: #ff871f;
    padding: 0px 60px;
    border-radius: 10px;
    
  }
  
  .h1Div {
    color: black;
    text-align: center;
  }
  
  .btnDiv {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: black;
    color: #ff871f;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .inputDiv {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
  }

  .New-Playlist {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #ff871f;
   

  }

  .inputDiv {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
  }

  .h1Div {
    color: black;
    text-align: center;
  }

  .formDiv {
    background-color: #ff871f;
    padding: 0px 60px;
    border-radius: 10px;
  }
  
  .btnDiv {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: black;
    color: #ff871f;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
  }


  