
/* .sidebar {
  display: flex;
  position: fixed;
  top: 100;
  left: 0;
  height: 100vh;
  

} */

.sidebar {
  background-color: #000;
  width: 220px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 5;
  left: 5;
}

.sidebar-menu {
  position: relative;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: rgba(211, 211, 211, 0.3);
}

/* .nav-menu-items {
  width: 100%;
} */

span {
  margin-left: 16px;
  color: #fff;
}

.icon {
  color: #ff871f;
}

